<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Stylindex</title>
</head>
{% block extra_links %}
{% endblock extra_links %}
<body>
    {% block app_content %}
    {% endblock app_content %}
</body>
</html>
