{% extends "books/base.html" %}

{% block page %}
  {% for author in authors %}
    <ul>
      <li>
        <label>ID</label>
        {{ author.id }}
      </li>
      <li>
        <label>Author:</label>
        {{ author.name }}
      </li>
      <li>
        <label>Books:</label>
        {% for book in author.book_set.all %}
          "{{ book.name }}"{% if not forloop.last %}, {% endif %}
        {% endfor %}
      </li>
    </ul>
  {% endfor %}
{% endblock page %}
