{% extends "base.html" %}
{% load static %}

{% block app_content %}
  <nav>
    <h3>Menu</h3>
    <div class='menu'>
      <ul>
        <li><a href="{% url 'books:books' %}">Books</a></li>
        <li><a href="{% url 'books:authors' %}">Authors</a></li>
      </ul>
    </div>
    {% block ordering %}
    {% endblock ordering %}
  </nav>
  <div class='page-content'>
    {% block page %}
    {% endblock page %}
  </div>
{% endblock app_content %}
