{% extends "books/base.html" %}
{% load static %}

{% block ordering %}
<div class="dropdown">
  <h3>Order By</h3>
  <ul class="dropdown-menu">
    <li><a href="?order=name">Name (a-z)</a></li>
    <li><a href="?order=-name">Name (z-a)</a></li>
    <li><a href="?order=published_at">Date (ascending)</a></li>
    <li><a href="?order=-published_at">Date (descending)</a></li>
  </ul>
</div>
{% endblock ordering %}

{% block page %}
  {% for book in books %}
    <ul>
      <li>
        <label>ID:</label>
        {{ book.book_id }}
      </li>
      <li>
        <label>Name:</label>
        {{ book.name }}
      </li>
      <li>
        <label>ISBN:</label>
        {{ book.isbn }}
      </li>
      <li>
        <label>Published:</label>
        {{ book.published_at }}
      </li>
      <li>
        <label>Cover:</label>
        <a href="{{ book.cover }}">{{ book.cover }}</a>
      </li>
    </ul>
  {% endfor %}
{% endblock page %}
